.services {
@include main-font;

background: $sections-background;

    &-block {
        display: flex;
        
        
        &__first {
            @include services-blocks;

            padding-bottom: 20px;
        }

        &__second {
            @include services-blocks;
        
            padding-bottom: 40px;
        }
    
    }

        &__image {
            height: 46px;
            display: flex;
    }

    &-design {
        @include services-options;
    
    }

    &-web {
        @include services-options;
    }

    &-mobile {
        @include services-options;
    }

    &-game {
        @include services-options;
    }

    &-seo {
        @include services-options;
    }

    &-photo {
        @include services-options;
    }

    &-graphic {
        @include services-options;
    }

    &-illustration {
        @include services-options;
    }

}